{% extends 'myapp/base.html' %}
{% block content %}
<head>
    <style>
        marquee{
            font-size: 29px;
            color: hotpink;
        }
    </style>
</head>
<body oncontextmenu="return false">
    

<meta name="viewport" content="">
<div>
<img width="100%" height="80%" src="https://netrockdeals.sirv.com/WP_netrockdeals.com/2020/04/red-bus-banner-1.jpg">
</div>
<marquee>50% off on Fesitval Seasons</marquee>
</body>
{% include 'myapp/footer.html' %}
{% endblock %}


